<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gearoid.testchatapp" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Market filtering -->
    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="true" />

    <!-- android:name=".ApplicationContext" : ApplicationContext class. Singleton, allow non-activities access Context -->
    <application
        android:name=".ApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/icon_leader"
        android:label="@string/app_name_short"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".GameSetupActivity"
            android:label="@string/title_activity_setup"
            android:parentActivityName=".wifidirect.servicediscovery.WiFiDirectServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ToolbarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gearoid.testchatapp.wifidirect.servicediscovery.WiFiDirectServiceActivity" />
        </activity>
        <activity
            android:name=".wifidirect.peerdiscovery.WiFiDirectActivity"
            android:label="@string/title_activity_wi_fi_direct"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ToolbarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gearoid.testchatapp.MainActivity" />
        </activity>
        <activity
            android:name=".wifidirect.servicediscovery.WiFiDirectServiceActivity"
            android:label="@string/title_activity_wi_fi_direct"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ToolbarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gearoid.testchatapp.MainActivity" />
        </activity>
        <activity
            android:name=".GameScreenActivity"
            android:label="@string/title_activity_game_screen" >
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game">
        </activity>
    </application>

</manifest>
